*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.card-container{
	width: 100%;
	height: 100vh;
	background: #ebecf0;
	display: flex;
	justify-content: center;
	align-items: center;
}


.container{
	display: flex;
	justify-content: center;
	align-items: center;
}

img{
	width: 220px;
	height: auto;
	border-radius: 10px;
	margin: -5px;
	border: 5px solid #f3f4f7;
	box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
	            -7px -7px 20px rgba(255, 255, 255, 1),
	            0px 0px 4px rgba(255, 255, 255, .2);
}


.card-box{
	width: 300px;
	height: auto;
	background: #ebecf0;
	margin: 0px 10px;
	padding: 40px;
	border-radius: 30px;
	box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
	            -7px -7px 20px rgba(255, 255, 255, 1),
	            0px 0px 4px rgba(255, 255, 255, .2);
}


.card-text{
	margin: 20px 0px;
}

.card-text h4{
	font-size: 20px;
	color: #555f76;
	font-weight: 500;
	text-transform: capitalize;
}

.card-text p{
	font-size: 16px;
	color: #8d96a8;
	font-weight: 400;
	margin: 10px 0px
}